<ng-container [ngSwitch]="layoutTypes$ | async">
    <ng-container *ngSwitchDefault>
        <pm-header></pm-header>
        <main>
            <ng-container *ngTemplateOutlet="template"></ng-container>
        </main>
    </ng-container>
    <ng-container *ngSwitchCase="breakpoints.Web">
        <pm-header></pm-header>
        <main>
            <ng-container *ngTemplateOutlet="template"></ng-container>
        </main>
    </ng-container>
</ng-container>

<ng-template #template>
    <div class="container py-3">
        <router-outlet></router-outlet>
    </div>
</ng-template>
